* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(46, 46, 92);
}
.container {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: beige;
}

.container p {
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.heading-para {
    
}

.date-container label {
  font-size: larger;
  margin-right: 10px;
}

#birthDate,
#currentDate {
  width: 140px;
  height: 40px;
  border: none;
  padding: 5px;
  box-shadow: 0 0 2px 1px gray;
  border-radius: 10px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-size: large;
}

#calculateBtn {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(0, 0, 255, 0.277);
}

#calculateBtn:active {
  box-shadow: 0 0 0 0;
}
