/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
#headerDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(227, 219, 219, 0.264);
    
}

#nav-anchorTagDiv {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    
    
    a {
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
       padding: 5px;
       
    }
    a:hover {
            border-radius: 15px;
            box-shadow: 1px 1px 5px gray;
        }
    

}

/***hero section ***/



#heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
   

}

#heroSection {
   
   border-radius: 10px;
   box-shadow: 1px 1px 10px gray;

   button:hover  {
     background-color: white;
        color: black;
        box-shadow: 1px 1px 5px gray;
   }
   
}

#herotn {
    width: 400px;
    height: 35px;
    background-color: black;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;

}