#dabba {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    /* border-radius: 50%; */
    position: absolute;
    animation: movingDabba 5s linear infinite;

    
}

@keyframes movingDabba {
    0% {
        top: 0px;
        left: 0px;
        background-color: red;
        transform: rotate(360deg);
        transition: transform 2s;

    }
    25% {
        top: 0px;
        left: 500px;
        background-color: yellow;       

    }
    50% {
        top: 500px;
        left: 500px;
        background-color: blueviolet;      

    }
    75% {
        top: 500px;
        left: 0px;
        background-color: green;       

    }
    100% {
        top: 0px;
        left: 0px;
        background-color: blue;      

    }

}

