@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=DM+Serif+Text:ital@0;1&family=Delius&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1{
   
    font-family: "DM Serif Text", serif;
}

p {
    font-family: "DM Serif Text", serif;
    font-weight: 600;
    font-style: italic;
    font-size: larger;
    color: blue;
}
.Heading{
    text-shadow: 12px 12px 50px blueviolet;
}
div {
    border: 2px solid green;
}