*{
    background-color: rgb(49, 41, 163);
}

h1{
    background-color: aquamarine;
}

p{
    color: red;
}

.A{
    background-color: burlywood;
}
#para1{
    color: green;
}
h2{
    background-color: yellow;
}
