
*{
    margin: 0;
    padding: 0;
    
}
/* .box{
    border: solid 2px black;
    width: 50%;
   
} */

/* persenttege '%' */
/* .parent{
    border: 1px solid black;
    background-color: beige;
    width: 50%;
}
.child{
    border: solid 1px green;
    background-color: aqua;
    width: 20%;

} */


/* .container{
 viwporte height 'vh'
    viewport width "vw"
    background-color: aquamarine;
    border: 1px solid black;
    height: 100vh;
    width: 50vw;
} */

/* #container{
    border: solid black 2px;
    font-size: 100px;
    
    
} */