*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    border: solid black 5px;
}

.box{
    width: 350px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    border: solid black 2px;
    background-color: blue;
    position: relative;
    /* animation-name: rightmovement;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 2s; */

   
     /* animation-timing-function: ease;
      animation-timing-function: ease-in;
     animation-timing-function: ease-in-out;
      animation-timing-function: ease-out; */

      /* animation-timing-function: linear;
      animation-direction:alternate;
      animation-direction: reverse;
      animation-direction: alternate-reverse; */

       /* animation-timing-function: linear;
       animation-fill-mode: forwards;
       animation-fill-mode: backwards; */
    
    animation: 5s linear 1s infinite alternate none running rightmovement;
}

@keyframes rightmovement {
    from {
        top: 0;
        left: 0;
    }
    to {
        top: 0;
        left:1400px;
        background-color: yellow; 
    }
}
 

.box2{
    width: 350px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    border: solid black 2px;
    background-color: red;
    position: relative;

    animation: 5s ease-in 1s infinite alternate none running leftmovement;
}



@keyframes leftmovement {
    from {
        top: 600px;
        left: 1350px;
    }
    to {
        top: 600px;
        left:0px;
        background-color: rgb(90, 235, 126); 
    }
}


.circle{

    width: 200px;
    height: 200px;
    margin: 100px 800px;
    padding: 10px;
    border: solid black 2px;
    border-radius: 50%;
    background-color:gray;
    position: relative;
    animation: 5s ease-in-out 0s infinite alternate-reverse none running circlemovement;

} 

@keyframes circlemovement
{

0%{
    top: 1%;
    left: 5%;
}

30%{
     top: 5%;
    left: 50%;
}
60%{
    top: 50%;
    left: 10%;
}
100%{
    top: 20%;
    left: 50%;
}

}