* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
}
h1 {
  width: 100%;
  min-height: 50px;
  background-color: blue;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

@media (min-width: 1200px) {
  h1 {
    background-color: chartreuse;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  h1 {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  h1 {
    background-color: red;
    font-family: cursive;
  }
}

.main_container {
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  margin: auto;

  border: solid 2px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;

  background-color: aqua;
}
#box1 {
  background-color: red;
}
#box2 {
  background-color: blue;
}
#box3 {
  background-color: orange;
}
#box4 {
  background-color: gray;
}
.box {
  display: grid;
  justify-content: center;
  align-items: center;
}
