
h1{
    width: 200px;
    border: solid black 2px;
    margin-left: 0px;
    
}
h1:hover{
    /* margin-left: 200px;
    transition: margin-left 5s; */

    width: 400px;
    transition: width 5s;  
}

.box {
    width: 500px;
    height: 50px;
    border: solid black 2px;

   .subBox {
    width: 10px;
    height: 50px;
    background-color: red;    
    }   
}

.box:hover {

    .subBox {
        width: 500px;
        background-color: green;
        /* transition: width 5s linear; */
        /* transition: width 5s ease; */
        transition: width 5s ease-in-out , background-color 5s ease-in-out;       
    }
          
}


.box1 {
    width: 500px;
    height: 50px;
    border: solid black 2px;

    .subBox1 {
       height: 50px;  
        
    }

}

.box1:hover {
    .subBox1 {
        animation: myAnimation 5s linear;
    }
}
@keyframes myAnimation{

    0% {
        width: 0%;
        background-color:red;
    }

    50% {
        width: 50%;
        background-color:yellow;
    }

    100% {
        width: 100%;
        background-color:green;
    }
    
}