
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    width: 1200px;
    height: 1000px;
    margin: 10px;
    border: solid white 2px;
    display: flex;
    
    position: relative;
   
}
.box1{
    width: 200px;
    height: 200px;
    border: solid white 1px;
    background-color: blue;
    margin: 5px;
}
.box2{
    width: 200px;
    height: 200px;
    border: solid wheat 1px;
    background-color: blueviolet;
     margin: 5px;
    
     /* position: relative;
     top: 100px;
     left: 100px; */

     position: fixed;

    
   
}
.box3{
    width: 200px;
    height: 200px;
    border: solid wheat 1px;
    background-color: brown;
    margin: 5px;

    /* position: absolute;
    top: 100px; */

     position: sticky;
     top: 100px;
}
.box4{
    width: 200px;
    height: 200px;
    border: solid white 1px;
    background-color: yellow;
    margin: 5px;
   
}

.second{
    background-color: blue;
    height: 5000px;
}