#bulb{
    padding: 50px;
    border: 1px solid black;
    border-radius: 50%;
    width: fit-content;
}

button{
    margin: 10px;
    
}

#smartBulb{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.on {
    background-color: yellow;
}