
.container{
    background-color: rgb(230, 230, 159);
    height: 650px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
     background-color: aqua;
     width: 300px;
     height: 400px;
     border: solid black 2px;
     margin: 5px;
     padding: 5px;
     /* box-shadow: -15px 15px blue; */

     /* box-shadow: 10px 15px 50px blue; */

     /* box-shadow: 10px 15px 15px 100px rgb(126, 252, 132); */
    /* box-shadow: inset 20px 10px 10px blue; */

    /* box-shadow: 10px 15px blue , 15px 10px red; */
}

#heiding{
    /* text-shadow: 5px 5px 2px blue; */
     /* text-shadow:blue 5px 5px 2px ; */
     /* text-shadow: 5px 5px red; */
     text-shadow: 5px 5px 5px;

}