#head {
  color: red;
}


.main-div {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
#image1 {
  width: 100%;
  border-radius: 10px;
}
#card1 {
  width: 300PX;
  height: fit-content;
  
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px gray;
  margin: 10px;
  padding: 10px;
  button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;

  }

}