* {
  margin: 0;
  padding: 0;
}

h1 {
   border: solid black 3px;
   text-align: center;
   max-width: 500px;
   margin-left: 30%;
   margin-top: 10px;
   background-color: darkgoldenrod;
   border-radius: 50px;
 
}

p {
  border: solid black 2px;
  margin-top: 10px;
}

.firstPara {
  background-color: red;
  margin: 10px 20px 30px 40px;
  padding: 20px 40px;
}
.secondPara {
  background-color: yellow;
  margin: 30px 40px;
  padding: 40px;
}
.therdPara {
  background-color: gray;
  margin: 50px;
  padding-bottom: 40px;
}
.forthPara {
  background-color: palevioletred;
  margin-top: 30px;
}
