*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login{
    width: 300px;
    height: 350px;
    margin: 100px;
    margin-top:200px ;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:20px ;

     box-shadow:  1px 2px 10px black;
}

 input{
   border: none;
   outline: none;
   border-bottom: 2px solid black;
   padding: 10px;
   font-size:1rem;
}


button{
    width: 90%;
  
   background-color: blue;
   border-radius: 20px;
   height: 35px;
   
}
button:hover{
    background-color: blanchedalmond;
    color: black;
}
a{
    padding: 15px;
}
.registretion{
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:50px ;

     box-shadow:  1px 2px 10px black;
    
}

#input1{
    
    border: solid 2px black;
    border: none;
    outline: none;
   
}