@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Strichpunkt+Sans:wght@400..900&display=swap");

:root {
  --rimary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  width: 100vw;
  background-color: var(--background-color);
  text-align: center;
}

.main-header-container {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.643);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
}

.logo img {
  max-width: 150px;
}

/* links-navbar */

.nav-links {
  display: none;
  gap: 1.5rem;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
  }
}

.nav-links a {
  color: #718096;
  font-size: 1.125rem;
  font-weight: 600;
  transform: color 0.1s;
}

.nav-links a:hover {
  color: var(--link-color);
}

/* contact-button */

.contact-button {
  display: none;
  border: none;
  border-radius: 0.37rem;
  background-color: var(--rimary-color);
  color: var(--background-color);
  padding: 0.75rem 1.5rem;
  transition: all 0.1s;
}
.contact-button:hover {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contact-button {
    display: block;
  }
}

/* menu-icon */

.menu-button {
  display: none;
  border: none;
  background-color: var(--background-color);
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

/* main-content-sectionOne */

.main-content-sectionOne {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  gap: 50px;
}

/* left-container */

.left-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: start;
  margin-left: 2rem;
}

.para-one {
  color: var(--link-color);
  font-weight: bold;
}

.main-heading {
  font-size: 3.5rem;
  color: var(--text-color);
}

.para-tow {
  color: var(--gray);
}

.button-div {
  display: flex;
  gap: 2rem;
}

.button-div button {
  border: none;
  border-radius: 0.37rem;

  color: var(--background-color);
  padding: 0.75rem 1.5rem;
  transition: all 0.1s;
  cursor: pointer;
}

.button-div button:hover {
  background-color: var(--accent-color);
}

.start-button {
  background-color: var(--rimary-color);
}

.take-button {
  background-color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .main-content-sectionOne {
    flex-direction: row;
    max-width: 80vw;
    text-align: center;
  }

  .left-container {
    /* border: 2px solid black; */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: start;

    /* margin-left: 2rem; */
  }
  .img-container img {
    max-width: 600px;
    border-radius: 10%;
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.537);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* right-container */

.right-container {
  /* border: 2px solid black; */
  text-align: left;
}

.img-container img {
  max-width: 100%;
  /* overflow: hidden; */
  margin: 2rem;
  border-radius: 10px;
}
