*{
    margin: 0;
    padding: 0;
    /* background-color: #98F5F9; */
}
/* #mainContaienr {
    display: grid;
    gap: 20px;

    grid-template-columns: 100px 100px 100px 100px;
    border: solid black 2px;
}
.mainBox {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: solid black 2px;
} */


#main-box-black {
    width: 350px;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;  
    background-color: #393838;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#UserInputs {
    width: 90%;
    height: 15%;
    border: solid white 3px;
    margin-top: 25px;
    border-radius: 10px;
    input {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 30px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }

    
}

.buttonsBox {
    width: 90%;
    height: fit-content;
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
    margin-left: 0px;
    grid-template-columns: 60px 60px 60px 60px;
    /* align-items: center; */
    button {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
        border-radius: 10px;
        outline: none;
        border: none;

        button:hover {
            background-color: black;
        }
    }
    .btn-C {
        background-color: orangered;
    }
}
#button {
    width: 290px;
    height: 100%;
    border-radius: 10px;
    background-color: orangered;
    button {
        width: 100%;
        background-color: orangered;
        
    }
    
   
}

button:hover {
    /* background-color: black;
    color: white; */

    opacity: 85%;
    color: black;
}