* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 50px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(255, 255, 255, 0.945);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.navbar-box1 {
    font-size: 22px;
    font-weight: 700;
}

.navbar-box2  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    a {
        margin-right: 35px;
        font-size: 18px;
        text-decoration: none;
        color: black;
    }

    i {
        font-size: 20px;
        margin-right: 2px;
    }

}

.navbar-box3 {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 700;

     a {
        width: 90px;
        padding: 10px;
        margin-right: 25px;
        font-size: 14px;
        text-decoration: none;
        color: black;
    }

}

.signin:hover {

    a {
        border-radius: 5px;
         padding: 10px;
        background-color: rgba(153, 144, 144, 0.274);
    }
}

.nav-button button {
    font-size: 12px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    font-weight: 750;
    background-color: black;
    border: none;
    color: white;
   
}

button:hover {
        color: black;
        background-color: white;
        box-shadow: 1px 1px 5px black;
}

/*** img box **/

.main-img-box {
    padding-top: 100px;
    margin-right: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left-img-box {
    width: 50%;
    height: 650px;  
    
}

.left-img-heading {
    
    margin-top: 100px;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 700px;
    
}

.left-img-para {
    margin-top: 30px;
    padding-left: 30px;
    height: 100px;
    font-size: 23px;
    color: #9e9e9e;
}
.right-img-box {
    width: 50%;
    height: 650px;
    border-radius: 10px;
    background-image: url(WhatsApp\ Image\ 2025-11-11\ at\ 09.15.40_31ff346c.jpg);
    background-size: cover;
   
}

/*** img-input&button **/

.left-input-box {

    margin-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    
}
.input-button {
    
   input{

        width: 400px;
        height: 40px;
        font-size: large;
        border: none;
        margin-right: 10px;
        border: solid gray 1px;
        border-radius: 5px;
        margin-top: 10px;
        padding-left: 10px;
        
   }

   button {   
        width: 150px;
        height: 40px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: black;
        font-weight: 750;
        margin-top: 5px;

   }

   button:hover {
        box-shadow: 2px 2px 15px  gray;
        background-color: white;
        color: black;
   }

}

.left-img-readmy {
    margin-top: 5px;
    margin-left: 30px;
    p {
        color: #9e9e9e;
    }
    a {
        color: #9e9e9e;
    }
}

