* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #263238;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 50px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    opacity: 90%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.navbar-box1 {
    font-size: 22px;
    font-weight: 700;
}

.navbar-box2  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    a {
        margin-right: 35px;
        font-size: 18px;
        text-decoration: none;
        color: black;
    }

    i {
        font-size: 20px;
        margin-right: 2px;
    }

}

.navbar-box3 {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 700;

     a {
        width: 90px;
        padding: 10px;
        margin-right: 25px;
        font-size: 14px;
        text-decoration: none;
        color: black;
    }

}

.signin:hover {

    a {
        border-radius: 5px;
         padding: 10px;
        background-color: rgba(153, 144, 144, 0.274);
    }
}

.nav-button button {
    font-size: 12px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    font-weight: 750;
    background-color: black;
    border: none;
    color: white;
   
}

button:hover {
        color: black;
        background-color: white;
        box-shadow: 1px 1px 5px black;
}

/*** img box **/

.main-img-box {
    padding-top: 100px;
    margin-right: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left-img-box {
    width: 50%;
    height: 650px;  
    
}

.left-img-heading {
    
    margin-top: 100px;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 700px;
    
}

.left-img-para {
    margin-top: 30px;
    padding-left: 30px;
    height: 100px;
    font-size: 23px;
    color: #9e9e9e;
}

/*** img-input&button **/

.left-input-box {

    margin-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    
}
.input-button {
    
   input{

        width: 400px;
        height: 40px;
        font-size: large;
        border: none;
        margin-right: 10px;
        border: solid gray 1px;
        border-radius: 5px;
        margin-top: 10px;
        padding-left: 10px;
        
   }

   button {   
        width: 150px;
        height: 40px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: black;
        font-weight: 750;
        margin-top: 5px;

   }

   button:hover {
        box-shadow: 2px 2px 15px  gray;
        background-color: white;
        color: black;
   }

}

.left-img-readmy {
    margin-top: 5px;
    margin-left: 30px;
    p {
        color: #9e9e9e;
    }
    a {
        color: #9e9e9e;
    }
}
.right-img-box {
    width: 50%;
    height: 650px;
    border-radius: 10px;
    background-image: url(WhatsApp\ Image\ 2025-11-11\ at\ 09.15.40_31ff346c.jpg);
    background-size: cover;
   
}

/** Company-Box**/

.main-company-box {
    width: 90%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.company-heading-box h6 {
    margin-top: 120px;
    margin-bottom: 10px;
    font-size: 1.1rem; 
    font-weight: 700;
    color: #263238;
}

.box0 {
    height: 80px;
    width: 160px;
}

.company-box1 {
    background-image: url(logo-coinbase.svg);
    background-size:contain;
}

.company-box2 {
    background-image: url(logo-spotify.svg);
    background-size: contain;
}

.company-box3 {
    background-image: url(logo-pinterest.svg);
    background-size: contain;
}

.company-box4 {
    background-image: url(logo-google.svg);
    background-size: contain;
}

.company-box5 {
    background-image: url(logo-amazon.svg);
    background-size: contain;
}

.company-box6 {
    background-image: url(logo-netflix.svg);
    background-size: contain;
}

/** skills box **/

.skills-box {
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #para1 {
        font-size: 1.1rem; 
        line-height: 1.625;
        font-weight: 700;
        color: #263238;
        line-height: 1.625;
        margin-bottom: 10px;  

    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: #263238;
        line-height: 1.625;
        margin-bottom: 10px;

    }

    #para2 {
        font-size: 1.25rem; 
        font-weight: 500;
        color: #9e9e9e;
        line-height: 1.625;
    }

}

/** skils Boxss **/

.skills-Boxsss {
    height: 800px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.BoxS {
    width: 360px;
    height: 320px; 
    margin-right: 50px;  
    display: flex;
    flex-direction: column;
    align-items: center;
   
    #icons {
        height: 100px;
        width: 100%;
        font-size: 30px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: end;     

    }

    h5 {
        
        width: 100%;
        height: 60px;
        font-size: 25px;
        color: #263238;
        line-height: 1.375;
        font-weight: 700;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    p {
        
        width: 100%;
        height: 210px;
        color: #9e9e9e;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        padding-left: 15px;
        display: flex;
        align-items: start;
        justify-content: center;
        
    }

}

/** My Projects ***/

.my-Project-mainBox {
    margin-top: 1700px;
    width: 100%;
    height: fit-content;
}

.project-box {

    h2 {
        display: block;
        font-size: 40px;
        font-weight: 700;
        color: #263238;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        
    }

    p {
        width: 50%; 
        margin-left: 330px;
        font-size: 20px;
        font-size: 600;
        line-height: 1.750rem;
        color: #9e9e9e;
        
    }

}

/*** pojectimgBox ****/

.project-img-boxs {
    width:100%;
    height: fit-content;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .box0 {
        width: 20%;
        height: fit-content;
        margin: 0px 20px;
        margin-bottom: 100px;
    }

}

.projectimg-box1 {
    
    #img {
        height: 150px;
        width: 100%;
        border-radius: 10px;
        background-image: url(blog-1.svg);
        background-size:cover;
        box-shadow: 1px 1px 5px  gray;
    }

    #heading {
        height: 60px;
        width: 100%;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    #paraProjectimg p {
        color: #9e9e9e;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5rem;
    }

    button {
        height: 30px;
        width: 100px;
        color: white;
        font-size: 13px;
        font-weight: 700;
        border-radius: 5px;
        border: none;
        margin-top: 20px;
        background-color: #263238;
    }

    

}

/** My Resume **/

.My-Resume-main-box {
    display: flex;
}

.resume-left-box {
    width: 40%;
    height: fit-content;
    margin-left: 70px;

    h2 {
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    p {
        font-size: 20px;
        color: #9e9e9e;
        font-weight: 400;
        line-height: 1.5rem;
        padding-bottom: 20px;
    }

    .resume-button-icon  {
        display: flex;
        align-items: center;
    }

    .resume-button-icon:hover {
        background-color: #9e9e9e;
    }
    button {
        border: none;
        color: #263238;
        font-size: 12px;
        font-weight: 700;
        margin-left: 20px;
        background-color: white;
    }

    i {
        color: #263238;
        font-size: 12px;
        font-weight: 700;
    }
}

.resume-right-box {
    width: 50%;
    height: fit-content;
    padding-top: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: center;

    

    .resume-right-sub-box  {
       display: flex;
       gap: 20px;
       
        
    }

    i {
        width: 50px;
        height: 40px;
        color: white;
        border-radius: 5px;
         background-color: #263238;
         display: flex;
         justify-content: center;
         align-items: center;
        font-size: 1.5rem;
        box-shadow: 1px 1px 5px gray;
    }

    p {
        
        font-size: 20px;
        color: #9e9e9e;
        font-weight: 400;
        line-height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.resume-right-mainsub-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/** POPULAR-CLIENTs-box **/

.What-Clients-Say-box {
    width: 100%;
    height: 200px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WhatClientsSay-sub-box {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        color: #263238;
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    p {
        color: #9e9e9e;
        font-size: 20px;
        font-weight: 400;
        line-height: 2rem;
        
    }
}

/*** MobileAppDevelopment-main-box ***/

.MobileAppDevelopment-main-box {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 150px;
    
}

.MobileAppDevelopment-left-box {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: solid white 2px;

    h2 {
        width: fit-content;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
        
    }

    p {
        color: #9e9e9e;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5rem;
        
    }

}

.MobileAppDevelopment-left-subBox {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    

    h5 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
}

#MobileAppDevelopment-para {
    font-size: 15px;
    font-weight: 500;
}

.MobileAppDevelopment-left-img-box {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;

   

    img {
        width: 50px;
        margin-right: 5px;
        margin-left: 5px;
        opacity: 50%;
        border-radius: 5px;
        
    }

    #opecity-img {
        img {
            opacity: 100%;
        }
    }

    #img-border {
        border-right: solid #9e9e9e 2px;
    }
}

.MobileAppDevelopment-right-box {
    width: 35%;
    height: 75%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MobileAppDevelopment-right-img-box {
    height: 95%;
    width: 80%;
    background-image: url("22.jpg");
    background-size: cover;
    border-radius: 10px;
    
}

.POPULAR-CLIENTS-box {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;

    p {
        font-size: 16px;
        font-weight: 900px;
        color: #9e9e9e;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
        
    }
}

.POPULAR-CLIENTS-company-box {
    display: flex;
    gap: 20px;
    margin-top: 30px;  
}

/** contact us **/

.Contact-us-box {
    margin-top: 150px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;

    }

    p {
        font-size: 20px;
        font-weight: 500;
        color: #9e9e9e;
    }
}

.Contact-Information-mainBox {
    width: 95%;
    margin-left: 35px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.Contact-Information-left-box {
    width: 40%;
    height: 95%;
    background-color: #263238;
    border-radius: 10px;
    color: white;
    padding-left: 50px;
    padding-top: 100px;

    h4 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
        color: white;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: #9e9e9e;
       
    }

    i {
        color: white;
        margin-right: 15px;
    }

}

.contact-information {
    p {
        color: white;
        margin-top: 20px;
    }
}

.Contact-Information-right-box {
    width: 56%;
    height: 90%;
    padding-left: 50px;
    color: #9e9e9e;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
        color: #8a8888;
        font-size: 15px;
        font-weight: 500;
    }

    input:hover {
        border-bottom: solid black 2px;
    }

}

.contactInputs {
    width: 90%;
    display: flex;
     margin-top: 20px;

    input {
        width: 300px;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: solid #9e9e9e56 2px;
        margin-right: 30px;
        margin-top: 10px;
    }

}

 .emailInput input {
        width: 630px;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: solid #9e9e9e56 2px;     
}

/** redio Buttons **/

.input-radioButton {
    width: 70%;
    color: #263238;
    display: flex;
    justify-content: space-evenly;
    
}

.contact-button {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
    
    button {
        width: 130px;
        height: 30px;
        outline: none;
        border: none;
        background-color: #263238;
        color: white;
        border-radius: 5px;
        
    }

    button::hover {
        box-shadow: 1px 1px 5px black;
    }
}

/** footer box **/

.foot-main-box {
    width: 100%;
    height: 100px;
    border-top: solid #9e9e9e34 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-left-box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 18px;
        font-weight: 500;
        color: #9e9e9e;
    }
}

.foot-right-box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
    

    a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: #9e9e9e;
    }

    button {
        width: 110px;
        height: 30px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 5px;
        font-size: 12px;
        font-weight:700;
        box-shadow: 1px 1px 2px black;
    }

    button:hover {
        background-color: white;
        color: black;
    }
}

