*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainContainer{
    margin: 20px 20px;
}
.headerBox{
    width: auto;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /* border: solid black 1px; */
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
.pageBox{
    font-size: larger;
    font-weight: 600px;
    display: flex; 
    gap: 50px;

    a{
        text-decoration: none;
        color: black;
        
    }
}
.siginBox{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-weight: 600px;
    display: flex;
    align-items: center;
    gap: 30px;

    a{
         text-decoration: none;
        color: black;
    }

    button{
        font-size: small;
        padding: 10px;
        border-radius: 7px;
        background-color: black;
        color: white;
        box-shadow: 1px 1px 5px gray;
    }
    button:hover{
        background-color: white;
        color: black;
    }   
}


.imgMainBox{
    width: 100%;
    height: 670px;
    
    margin-top: 30px;
    /* background-color: aqua;
    border: solid black 2px; */
    display: grid;
    /* position: absolute; */
    display: flex;
    
}
@media  screen and (max-width:800px) {
    .imgMainBox{
        grid-template-columns:auto auto;
    }
}
.leftImgBox{
    width: 50%;
    height: 100%;
   
    /* border: solid black 2px;
    background-color: brown; */
    overflow: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.leftimgContent{
    width: 640px;
    height: auto;
    /* border: solid black 1px; */
    margin-left: 20px;
    
    h1{
        margin-top: 100px;
        font-family:  Roboto, sans-serif;
        font-size: 50px;
        font-weight: 600;
    }
    p{
        font-family: Roboto, sans-serif;
        color: gray;
        font-weight: 400;
        font-size: 1.25rem;
    }
    

}
#leftImgInput{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    
    .leftimgUseremail input{
        font-family: Roboto, sans-serif;
        font-size: large;
        margin-top: 10px;
        width: 375px;
        height: 40px;
        border: none;
        outline: none;
        border: solid black 1px;
        border-radius: 5px;
        padding: 12px;
    }
    button{
        font-family: Roboto, sans-serif;
        font-size: large;
        margin-top: 10px;
        width: 375px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: black;
        color: white;
        box-shadow: 1px 1px 5px gray;

       
        
    }
}
#leftImganchortag{
    width: 640px;
    height: fit-content;
    font-size: large;
    
    font-family: Roboto, sans-serif;
    color: gray;
    
    
    a{
        
        color: gray;
        font-size: 14px;
        /* border-bottom: solid gray 1px; */
    }
    p{
        margin: 5px;
        font-size: 14px;
    }
    

}

.rightImgBox{
    width: 50%;
    height: 100%;
    /* border: solid black 2px; */
    /* background-color: blueviolet; */

    img{
       
        width: 95%;
        height: 100%;
        border-radius: 50px;
        
        
        

    }
}