*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whitecontainer{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.whitecontainer img{
    height: 50%;
    border-radius: 10px;
}
.whitecontainer p{
    font-size: 1.2rem;
}

.whitecontainer h1{
    font-size: 1.4rem;
    font-weight: 1000px;
}
