@import "tailwindcss";

:root {
  /* Primary */
  --color-primary: #161e54;
  --color-primary-hover: #0f163f;

  /* Secondary */
  --color-secondary: #f16d34;
  --color-secondary-hover: #d85f2e;

  /* Background & Text */
  --color-background: #bbe0ef;
  --color-text: #161e54;

  /* Accent */
  --color-accent: #ff986a;
}
