* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#mainNavContainer {
    display: flex;
    padding-top: 20px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    padding-bottom: 20px;
    
    box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.274);
    
}

#navimg {

   img {
     width: 160px;
    height: 50px;
   }

}

#navhome-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
}

#navbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
   
    button {
        background-color: #125785;
        font-size: 18px;
        color: white;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 10px;
        box-shadow: 3px 3px 1px 2px #299eecbd;
    }
    button:hover {

        box-shadow: 2px 2px 2px 1px #299eecbd;
        
    }

    
}

#navbaricons {
    font-size: 20px;
}

/* main-content */

#main-content {
    width: auto;
    height: 1400px;
    display: flex;
    justify-content: center;
   
}

#EnquiryForm {
    width: 900px;
    height: fit-content;
    margin-top: 150px;
    border-radius: 10px;
    /* border: solid black 2px; */
    background-color: #5de2e744;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(95, 94, 94);
    
}

#main-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-top: 50px;
   

    h2 {
        font-weight: 700;
        color: black;
    }

    p {
        font-size: 16px;
        font-weight: 500;
    }
    
}

/* User inputs section */

#User-inputs-Container {
    width: 700px;
    height: 40%;
    margin-top: 20px;
    
}

#top-too-inputs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    gap: 30px;
    input {
       margin-top: 10px;
       width: 320px;
       height: 60px;
       border-radius: 10px;
       padding: 10px;
       border: none;
       border: solid gray 1px;
    }
}

#emailQualification {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 10px;
    gap: 30px;
    margin-left: 10px;
  

    input {
        margin-top: 10px;
       height: 60px;
       border-radius: 10px;
       padding: 10px;
       border: none;
       border: solid gray 1px;
    }

    .emailInput1 {
        input {
            
            width: 420px;
        }
    }

}

#collageSchool {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    margin-left: 10px;

    input {
        width: 100%;
       height: 60px;
       border-radius: 10px;
       padding: 10px;
       border: none;
       border: solid gray 1px;
    }
}

#top-too-inputs {

    .selec {
        display: flex;
        flex-direction: column;
    }
    select {
        margin-top: 10px;
       width: 320px;
       height: 60px;
       border-radius: 10px;
       padding: 10px;
       border: none;
       border: solid gray 1px;
       color: gray;
    }
}


/* courses */

.Courses-Container {
    width: 100%;
    height: 25%;
    display: flex;
    gap: 20px;
    justify-content: center;
   
}

.checbox-Container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        margin-bottom: 10px;  
    }
}

.information-Container {
    width: 45%;
    height: 100%;

    .selec {
        display: flex;
        flex-direction: column;
    }
    select {
        margin-top: 10px;
       width: 320px;
       height: 60px;
       border-radius: 10px;
       padding: 10px;
       border: none;
       border: solid gray 1px;
       color: gray;

       margin-bottom: 10px;
    }
}

#submitButton {
    margin-top: 50px;
    margin-bottom: 50px;
    button {
        width: 150px;
        height: 60px;
        border: none;
       background-color:black;
       color: white;
       font-size: 20px;
       border-radius: 30px;
       
    }

    button:hover {
        background-color: white;
        color: black;
        box-shadow: 1px 1px 5px black;
    }
}

/* blue-buttom-container */

.blue-buttom-container {
    width: 100%;
    height: fit-content;
    background-color: #125785;
    color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#list-main-box {
    width: 90%;
    height: 80%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    /* border: solid white 2px ; */
   
    

    .blueListBox {
        width: 300px;
        height: 300px;
        color: whitesmoke;
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
           
            a {
                 text-decoration: none;
                 font-size: 18px;
                 font-weight: 400;
                 color: white;
                 
            }
           
        }
    }

    #list1 {
        width: 300px;
        height: 300px;
        

        p {
            font-size: 18px;
            font-weight: 500;
            margin-top: 20px;

        }
        img {
            width: 200px;
        }

    }

    #list2 {
        width: 300px;
        height: 350px;
    }

    .iconsBox {
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
        margin-left: 30px;

        a {
            i {
                
                border-radius: 20px;
                font-size: 30px;
                color: white;
                
            }
        }
    }
}

/* footer box */

.footerBox {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #125785;

    #footerBoxSub {
        width: 90%;
        border-top: solid beige 2px;
        height: 100px;
        padding: 30px;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            color: rgba(245, 245, 245, 0.733);

        }
        
    }
}