* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(128, 128, 128, 0.265);
  font-family: Arial, Helvetica, sans-serif;
}

#main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgDiv {
  img {
    width: 300px;
    margin: 30px;
  }
}
.heading-para {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

#button1 {
  button {
    width: 180px;
    height: 55px;
    border: none;
    outline: none;
    background-color: white;

    border-radius: 5px;
    margin: 20px;
    font-size: 22px;
    border: solid gray 2px;
  }
  button:hover {
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    box-shadow: 1px 1px 10px 1px gray;
  }
}

.divBox {
  /* border: solid black 2px; */
  width: 1000px;
  height: 700px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

  #leftBox {
    width: 420px;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* border: solid black 1px; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 8px 0px gray;
    padding: 30px;
    text-align: center;
  }

  #rightBox {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    /* border: solid black 1px; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 8px 0px gray;
    padding: 30px;
    text-align: center;
  }
}
#paraleftBox1 {
  font-size: 1.3rem;
  color: black;
  /* margin: 10px 0px 10px 0px; */
}

#paraleftBox2 {
  font-size: 0.8rem;
  color: gray;
  margin: 10px 0px 10px 0px;
}

#selector1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  
  font-size: large;
  font-weight: 700;
  margin: 10px 0px 10px 0px;
  select {
    display: flex;
    justify-content: start;
    
    width: 100%;
    outline: none;
    color: gray;
    
    border: solid rgba(128, 128, 128, 0.636) 3px;
    border-radius: 5px;
    padding: 5px;
  
  }
}
