*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDiv{
    width: 700px;
    height: 1200px;
    background-color: aqua;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}
.leftContainer{
    width: 35%;
    height: 100%;
    background-color: rgb(47, 47, 105);
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        text-decoration: none;      
    }   
}
.img{
    margin: 10px 20px;
    
    img{
        width: 200px;
        border-radius: 50%;
        border: solid black 5px;
    }   
}
.imgName{
    width: 95%;
    font-size: 17px;
    border-bottom: solid black 2px;
    #p1{
        font-family:cursive;
        font-size: large;
        
    }
    #p2{
        font-family:cursive;
        /* font-size:larger; */
        color: burlywood;
        
    }
    p{
        margin-left: 25px;
    }
}
.informations{
    border: none;
    margin: 15px;
   a{
    color: rgb(122, 122, 116); 
   }
   h3{
    color: white;
    margin: 20px 5px;
   }
   h4{
    color: rgb(172, 144, 110);
    margin:10px;
   }  
}
.skills{   
    ul{
       margin-left: 25px;
    }
}
.loremIpsum{
    padding-top: 5px;
    p{
        margin-left: 10px;      
         padding: 10px;
    }
    a{
       margin-left: 5px;
    }
}
.rightContainer{
    width: 65%;
    height: 100%;
    background-color: rgb(177, 176, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;   
}
.aboutme{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.EXPERIENCE{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.ecperienceContainer{
    display: flex;
    gap: 60px;
}
.companys{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
       
       p{
        color: rgb(61, 61, 151);
        font-weight: bold;
        margin-bottom: 5px; 
       }

       #paralast{
        padding-top: 15px;
       }
}
.positions{
       display: flex;
       flex-direction: column;
       gap: 40px;
       margin: auto;
       padding-top: 20px;

       #positionHeading{
        color: rgb(61, 61, 151);
        font-weight: bold;
        padding-bottom: 5px;
       }
       
       #positionpara{
        border-left: solid gray 1px;
        padding-left: 5px;
       }       
}
.educaTion{
    width:100% ;
    height: 300px;
    margin-top: 20px;
}
.educationHeading{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column; 
}
.educationmainBox{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.educationLeft{
    width: 40%;
    height: 100%;
}
.universityname{
    width: 100%;
    height: 90px;

    #SCIENCE{
        font-weight: bold;
        margin-bottom: 10px;
        color: rgb(61, 61, 151);
    }
    
}
.educationRight{
    width: 60%;
    height: 100%;
}
.scienceBox{
    width: 100%;
    height: 90px;

    #SCIENCE{
        font-weight: bold;
        margin-bottom: 10px;
        color: rgb(61, 61, 151);
    }

    #seiencePara1{
        border-left: solid gray 1px;
        padding-left: 5px;
    }
}


